@charset "utf-8";
@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.woff)} 
html{overflow-x:hidden}
body{padding:0;margin:0;font-family:'Lato',sans-serif}
.padboth5{padding-top:5px;padding-bottom:5px}
.padboth{padding-top:10px;padding-bottom:10px}
.padboth1{padding-top:15px;padding-bottom:15px}
.padboth2{padding-top:20px;padding-bottom:20px}
.margboth5{margin-top:5px;margin-bottom:5px}
.margboth{margin-top:10px;margin-bottom:10px}
.margboth1{margin-top:15px;margin-bottom:15px}
.margboth2{margin-top:20px;margin-bottom:20px}
.padtop{padding-top:0}
.padbot{padding-bottom:0}
.margtop{margin-top:0}
.margbot{margin-bottom:0}
.padlef{padding-left:0}
.padrig{padding-right:0}
.padlr{padding-left:0;padding-right:0}
.ftn12{font-size:12px}
.ftn13{font-size:13px}
.ftn14{font-size:14px}
.ftn16{font-size:16px}
.ftn18{font-size:18px}
.ftn22{font-size:22px}
.ftn24{font-size:24px}
.ftn28{font-size:28px}
.ftn30{font-size:30px}
.ftn34{font-size:34px}
.ftn38{font-size:38px}
.ftn54{font-size:54px}
.whitetxt{color:#fff}
.blacktxt{color:#414141}
.orgtxt{color:#FF870F}
.vttxt{color:#6f4d9f}
.greytxt{color:#B2B2B2}
.greytxt2{color:#878787}
.greynew{color:#a7a6a6}
.orgbg{background:#1caad9}
.redtxt{color:#d93438}
.greentxt{color:#01960F}
.whitebg{background:#fff}
.blackbg{background:#323231}
.skybluetxt{color:#2AABD2}
.bluetxt{color:#2A7FFF}
.bor{border:1px solid #ccc}
.borbot{border-bottom:1px solid #ccc}
.bortop{border-top:1px solid #ccc}
.borbot2{border-bottom:2px solid #ccc}
.borrig2{border-right:2px solid #ccc}
.ftn500{font-weight:500}
.ftn600{font-weight:600} 
.txtup{text-transform:uppercase}
.clear{clear:both}
a{color:#06c;text-decoration:none !important; }
a:hover { text-decoration:none !important; }
ul{margin-left:0;padding-left:0}
li{list-style:none;line-height:26px}
.fwid{width:100%} 
.btn-link:focus, .btn-link:hover {text-decoration:none !important; }

.slide-content {
    position: relative;
    background: #fff;
    border: 1px solid transparent;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding-top: 15px;
    padding-bottom: 15px; margin-top: 20px;margin-bottom: 20px;
}

.slide-content .form-control {
     
    resize: none!important;
    background-color: #fff;
    border: 1px solid #f2e2ca;
    border-radius: 3px;
    min-height: 0;
    font-size: 1em; height: 46px;
    padding: 8px;
    
}

.btn-add-element { padding: 10px;border: 2px solid #ddd;}

.btn-add-element:hover { border: 2px solid #222; transition:all 300ms linear;}

.row.row-component-menu {
    margin: 0;
    border-radius: 3px;
    border: 2px dashed #f2e2ca;
}

 .row.row-component-menu>div {
    padding: 0;
}
 
  .row.row-component-menu>div .btn {
    display: block;
    width: 100%;
    text-align: left;
    color: #acacac;
    padding: 20px;
}
 
.row.row-component-menu>div .btn .fa-stack { margin-right: 5px; }

.row.row-component-menu>div .btn:active,  .row.row-component-menu>div .btn:hover {
    color: #f9f9f9;
    background: #f18a2f;
    border-radius: 3px;
}

.row.row-component-menu .fa-circle-dotted {
    height: 100%;
    border-width: .1em;
    border-style: dotted;
    border-radius: 40%;
}

.row.row-component-menu  .fa-06x {
    -webkit-transform: scale(.6);
    transform: scale(.6);
}
.slide-component-options { float: right; }
  .form-group .slide-component-options {
    position: absolute;
    top: -8px;
    right: 0;
}

.slide-component-options .btn, .slide-component-options .slide-delete, .slide-component-options .slide-duplicate,   .slide-insert-area .btn, .slide-component-options .slide-move-down, .slide-component-options .slide-move-up {
    -webkit-transition: -webkit-transform .15s,color .15s;
    transition: transform .15s,color .15s;
    color: #e8cca1;
}
.innercollapse { margin-bottom: 15px;}

  .slide {
    position: relative;
    margin-top: 55px;
    contain: style layout;
}

.text-muted {
    color: #959595;
}

.slide-insert-area {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 55px;
    line-height: 55px;
    top: -55px;
    left: 0;
    text-align: center;
}


/***/


.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }


.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }


.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-danger input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }


/**/